* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140 px;
    padding: 0 15 px;
    margin: 0 auto;
}

.header {
    width: 100 %;
    color: white;
    padding: 20 px;
    background: #151c39e8;
    box-sizing: border-box;
}
.menu-item {
    list-style: none;
}

.menu-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-section {
    padding: 100 px 0;
    background: url("images/banner-bg.jpg");
    background-size: cover;
    background-position: center;
}

.banner-title {
    font-size: 50 px;
    color: white;
    text-align: center;
}

.banner-description {
    text-align: center;
    color: white;
}

.cards-section {
    padding: 50 px 0 px;
}

/* .cards {
    display: inline-block;
    width: 80px;
    margin: 0px 100px;
} */

.cards-title, .cards-description {
    color: #151c39;
    text-align: center;
}

.card {
    padding: 25 px;
    margin-top: 25 px;
    width: 25 %;
    background: white;
    box-shadow: 0 px 2 px 7 px 0 px #9e90ff;
    text-align: center;
}


.card-link {
    text-decoration: none;
    color: white;
    /* text-align: center; */
}

.card-button {
    text-align: center;
    background: #151c39;
    padding: 10 px 70 px;
    border-radius: 10 px;    

}

.cart-title, .card-text {
    margin-bottom: 10 px;
}


.footer{
    background: url(images/footer-bg.jpg);
    background-size: cover;
    padding: 100 px 0 px;
}

.copyright {
    color: white;
}
